header{
		background-color:#555FC1;
		margin:0px;
		padding:10px;
		border-radius:5px;
		font-size:25px;
		text-align:center;
	}
	
	nav{font-size:40px;
		font-weight:bold;}
	
	
	.tuff{display:flex;
		justify-content:space-evenly;
		align-items:center;
	flex-direction:row;
	color:rgb(18,23,71);}
	
	.About:hover{display:flex;
		justify-content:space-evenly;
		align-items:center;
	flex-direction:row;
	color:red;}
	
	.Projects:hover{display:flex;
		justify-content:space-evenly;
		align-items:center;
	flex-direction:row;
	color:red;}
	
	
	.socials:hover{display:flex;
		justify-content:space-evenly;
		align-items:center;
	flex-direction:row;
	color:red;}
	
	h2{display:flex;
		justify-content:center;
		align-items:center;
	flex-direction:row;}
	
	p{display:flex;
		justify-content:center;
		align-items:center;
	flex-direction:row;}
	
	h3{display:flex;
		justify-content:center;
		align-items:center;
	flex-direction:row;}
	
	.projects{
		display:flex;
		justify-content:space-around;
		align-items:center;
	flex-direction:row;}
	
	.one{
		text-align:center;
		display:flex;
		align-items:center;
		flex-direction:column;
		padding:50px 100px;
		background-color:rgb(202,202,202);
		border-radius:10px;}
		
	.two{
		text-align:center;
		display:flex;
		align-items:center;
		flex-direction:column;
		padding:50px 100px;
		background-color:rgb(202,202,202);
		border-radius:10px;}
		
	.three{
		text-align:center;
		display:flex;
		align-items:center;
		flex-direction:column;
		padding:50px 100px;
		background-color:rgb(202,202,202);
		border-radius:10px;}
	
.contacts{display:flex;
		justify-content:center;
		align-items:center;
	flex-direction:column;
	padding:0px 50px 0px 0px}